main
	.button
		display: flex
		justify-content: flex-end
		align-items: center
		width: 100%
		cursor: pointer
		margin: 20px 0

	.edit-btn
		position: relative
		top: -7px
	.first-block
		overflow-x: visible
		overflow-y: scroll
		height: 550px
		margin-top: 80px
	.second-block
		overflow-x: visible
		overflow-y: scroll
		border: 1px solid grey
		border-radius: 5px
		height: 550px
		padding: 20px
